@import '../components/bootstrap/less/bootstrap';
@import '../components/bootstrap/less/responsive';

body {
  background: #bb0;
  margin-top: 40px;
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
}

.lista {
  font-size: 2em;
  & > li {
    color: peru;
  }
}