@import '../components/bootstrap/less/bootstrap';
@import '../components/bootstrap/less/responsive';

body {
  background: #bb0;
  margin-top: 40px;
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
}

.lista {
  font-size: 2em;
  & > li {
    color: peru;
  }
}

.main-content {
  margin: 0;
  padding: 0;
}
section { 
  .row-fluid {
    max-width: 940px;
    display: block;
    margin: 0 auto;
  }
  .column-info {
    float: left;
    display: block-inline;
  }
  .column-details {
    float: right;
    display: block-inline;
  }
}

#main {
  background-color: #FFF;
  
}
#syllabus {
  background-color: grey;
}
#info {
  background-color: yellow;
}


img:big-image {
  display: block;
  margin: 0 auto;
}

.suscribe-btn {
  background-color: red;
  color: #FFF;
}

.more-info {
  height:200px;
  &:nth-child(1){
    background-color: white;
    color: red;
  }
  &:nth-child(2){
    background-color:red;
    color:white;
    margin-left:0;    
  }
}

.map {
  display: block;
  margin: 0 auto;
}
